*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: #ffffff
.container-fluid
  padding-right: 80px
  padding-left: 80px
a:hover
  text-decoration: none

.btn-primary
  background-color: rgba(255,255,255,0)
  border: 1px solid #C2C2C2
  border-radius: 3px
  padding: 5px 10px 5px 10px
  color: #272727
  text-transform: uppercase
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle
  color: #272727
  background-color: #C2C2C2
  border-color: #C2C2C2

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus
  box-shadow: 0 0 0 0
.btn-primary:focus
  box-shadow: 0 0 0 0
.btn-primary:hover
  border: 1px solid #272727
  background-color: rgba(255,255,255,0)
  transition: ease 0.3s
  color: #272727

.btn-secondary
  border-radius: 0px
  width: 140px
  height: 38px
  border: 2px solid #858585
  background-color: rgba(255,255,255,0)
  text-align: center
  font-weight: 500
  font-size: 13px
  text-transform: uppercase
  padding-top: 7px
  &:hover
    background-color: rgba(255,255,255,0)
    border: 2px solid #FFFFFF

h2
  font-weight: bold
  font-size: 26px
  text-transform: uppercase
  color: #272727
  text-align: center
  margin-bottom: 40px

h3
  font-weight: bold
  font-size: 26px
  text-transform: uppercase
  color: #FFFFFF

.banner-block
  .bgr-banner
    padding-right: 10px
    .banner
      background-image: url("../img/banner.png")
      background-size: cover
      padding: 50px
      height: 585px
      img
        width: 65px
        height: 65px
      .buttons
        margin-top: 310px
        .col-2
          padding-left: 0
          button
            width: 100px
            background-color: rgba(255,255,255,0)
            border: 2px solid #858585
            color: #fff
            text-transform: uppercase
            font-size: 13px
            padding: 5px





.about-us
  padding-top: 80px
  padding-bottom: 80px
  .img-fluid
    text-align: right
  img
    height: 70px
    width: auto
  .item
    position: relative
    text-align: left
    &::after
      content: ""
      position: absolute
      width: 1px
      height: 50px
      background: #C2C2C2
      right: -0.5px
      top: 10px
    &:last-child::after
      content: ""
      display: none
    span
      font-weight: bold
      text-transform: uppercase
      color: #000
    p
      padding-top: 5px
      padding-bottom: 5px
      color: #929292
      font-weight: 500
      margin-bottom: 0


.about-order
  margin-bottom: 60px
  .container-fluid
    .block
      background-color: #171717
      background-image: url("../img/mask-group.png")
      background-size: cover
      padding: 50px
      height: 400px
      .row
        margin-top: 50px
        .picture
          padding-top: 30px
          width: 160px
          height: 160px
          margin: 0 auto
          border-radius: 50%
          border: 1px solid #C2C2C2
          margin-bottom: 20px
        p
          color: #FCFCFC
          text-transform: uppercase
          line-height: 27px
          margin-right: 30px
          margin-left: 30px


.order-call
  margin-top: 90px
  margin-bottom: 90px
  .video-bgr
    background-image: url("../img/ian-dooley-347950-unsplash 2.png")
    background-size: cover
    height: 400px
  .text
    padding: 0px 130px 0 130px
    p
      color: #929292
      text-align: left
    .btn
      margin-top: 40px
      text-transform: uppercase
      font-weight: bold
      font-size: 12px

.about-delivery
  margin-bottom: 80px
  .block
    background-image: url("../img/delivery.png")
    background-size: cover
    padding-bottom: 80px
    h3
      text-align: center
      padding-top: 40px
    .name
      color: #C2C2C2
      font-size: 24px
    .items
      font-size: 12px
      padding-top: 80px
      .left-border
        border: 2px solid #C2C2C2
        border-right: none
      .right-border
        border: 2px solid #C2C2C2
        border-left: none
      .text
        padding-right: 0
        padding-left: 0
        .text-1
          color: #FFFFFF
          margin-bottom: 5px
          margin-top: 10px
        .text-2
          color: #FFFFFF
          text-transform: uppercase









